{% if not threads %}
	<div style="width: 90%; line-height: 1.5em">
		No announcements have been posted in the past 30 days! Check out the <a href="https://www.clanaod.net/forums/forumdisplay.php?f=102">News and Announcements forum</a> for older posts.
	</div>
{% else %}
	<ul>
		{% if threads.channel.item %}
			{% for thread in threads.channel.item %}
				{% if loop.index <= attrs['limit'] %}
					<li>
						<a href="{{ thread.guid }}">{{ thread.title }}</a>
						<br />Posted {{ thread.pubDate }}
					</li>
				{% endif %}
			{% endfor %}
		{% endif %}
	</ul>
{% endif %}
