<div class="section-sub-section automenu">
    {% if attr['section_title'] is defined %}
        <h2 id="{{ sectionTitle }}">
            {{ sectionTitle }}
        </h2>
    {% endif %}

    {{ content }}
</div>