<div class="timeline-block">

    <div class="timeline-bullet cd-location">
        <img src="{{ templateDirectory }}/public/images/cd-icon-location.svg" alt="Picture">
    </div>

    <div class="timeline-content">
        <h2>{{ attr['section_title'] }}</h2>
        <h2 class="date-text">{{ attr['date_text'] }}</h2>
        {{ content }}
    </div>

</div>
