{% if (stream) %}
	<section class="apply-info"
	         style="background-image: url({{ stream.video_banner }}); background-size: cover; background-position: 27% 27%">
		<div class="section-content-container section--centered">
			<div class="section-blurb">
				<h2>asfdasdf</h2>
			</div>
		</div>
	</section>
{% endif %}
